@CHARSET "ISO-8859-1";

#wpbody-content .icwp-admin-notice {
	margin: 25px 5px 20px;
	padding: 10px 20px 8px;
	border: 1px solid rgba(240, 165, 4, 0.56);
	background-color: rgba(255, 227, 167, 0.25);
	border-right-width: 5px;
	border-left-width: 5px;
}

#wpbody-content .icwp-admin-notice p {
	text-shadow: -1px -1px 0 rgba(255,255,255,0.4);
}
#wpbody-content .icwp-admin-notice.updated p {
	color: rgba(155, 107, 5, 1);
}
#wpbody-content .icwp-admin-notice form {
	margin: 0;
}
#wpbody-content .icwp-admin-notice p.dismiss-p {
	margin: 10px 4px 0 0;
}
#wpbody-content .icwp-admin-notice .button:hover {
	text-decoration: none;
}

#wpbody-content .icwp-admin-notice .notice-dismiss::before {
	color: rgba(0, 0, 0, 0.5);
	font-size: 24px;
	line-height: 21px;
	padding-right: 4px;
}

#wpbody-content .promo.icwp-admin-notice {
	background-color: rgba(40, 214, 40, 0.25);
	border-color: rgba(25, 137, 25, 0.99);
}
#wpbody-content .promo.icwp-admin-notice,
#wpbody-content .promo.icwp-admin-notice p {
	color: rgba(21, 111, 21, 0.99);
}

#wpbody-content .info.icwp-admin-notice {
	background-color: rgba(6, 164, 255, 0.25);
	border-color: rgba(6, 90, 150, 0.99);
}
#wpbody-content .info.icwp-admin-notice,
#wpbody-content .info.icwp-admin-notice p {
	color: rgba(6, 90, 150, 0.99);
}

#wpbody-content .error.icwp-admin-notice {
	border-color: rgba(240, 51, 4, 0.56);
	background-color: rgba(255, 185, 167, 0.25);
}
#wpbody-content .error.icwp-admin-notice h3 {
	color: rgba(199, 41, 0, 1);
}

td.icwp_autoupdate, th#icwp_autoupdate {
	text-align: center;
	vertical-align: middle;
}
td.icwp_autoupdate span.icwp-pluginautoupdateicon.dashicons-update {
	color: #559c6a;
}
td.icwp_autoupdate span.icwp-pluginautoupdateicon.dashicons-hammer {
	color: #87492e;
}

li#toplevel_page_icwp-app div.wp-menu-image > img {
	width: 16px;
}