@CHARSET "ISO-8859-1";

.page-header .header-icon32 {
	display: inline-block;
	float: left;
	height: 40px;
	vertical-align: middle;
	width: 48px;
}

.wrap .icon32 {
	width: 32px;
}

.assigned-state {
	margin-top: 15px;	
}

.bootstrap-wpadmin .page-header {
	padding-bottom: 17px;
	margin: 18px 0;
	border-bottom: 1px solid #EEE;
}

label input[type=checkbox] {
	height: 16px !important;
}
.well h3 { margin-bottom: 10px; }
span.the-key {
	background-color: #FFFFFF;
	border: 1px solid #AAAAAA;
	border-radius: 4px 4px 4px 4px;
	font-family: "courier new",sans-serif;
	letter-spacing: 1px;
	margin-left: 10px;
	padding: 5px 8px;
}
a#signupLinkIcwp {
	font-size: smaller;
	font-weight: normal;
	text-decoration: underline;
}
.assigned-state {
}
.assigned-state #isAssigned {
	color: #00A500;
	padding-left: 25px;
	margin-bottom: 15px;
}
.assigned-state #isNotAssigned {
	padding-left: 25px;
	margin-bottom: 15px;
}
.reset-authentication input,
.enable-handshake-authentication input {
	float: left;
	margin-right: 4px !important;
}
.cant-handshake { opacity: 0.5; }